body {
  padding-top: 		60px;
  padding-bottom:	40px;
  background-color: whitesmoke;
}

.film-search-results {
	padding-bottom: 10px;
	padding-top: 	10px;
	height: 		136px;
	border-top:	1px solid #dddddd;
}

.film-search-results img {
	max-height: 136px;
}

.film-search-results .title {
	font-size: 20px;
}

.movie-list-info {
	position:relative;
	top:-2em;
	background: rgba(0,0,0,.7);
	z-index: 2;
	color: #eeeeee;
}

.movie-detail h1 { 
	border-bottom: 1px solid #dddddd;
}

.movie-detail h2 { 
	border-bottom: 1px solid #dddddd;
}