{% extends "base.html" %}

{% load url from future %}

{% block title %} - {{ movie.title }}{% endblock %}

{% block content %}
	
	<div class="row movie-detail">
		<div class="span12">
		    <h1>{{ movie.title }}</h1>
		</div>
	</div>
	<div class="row movie-detail">
		<div class="span7">
			<div class="row">
				<div class="span7">
					<h2>Details</h2>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<img src="{{ movie.poster_url }}" style="max-width:150px">
				</div>
				<div class="span5">
					<dl class="dl-horizontal">
						<dt>Director</dt> <dd>{{ movie.directors }}</dd>
						<dt>Cast</dt> <dd>{{ movie.cast }}</dd>
						<dt>Runtime</dt> <dd>{{ movie.length }} min</dd>
						<dt>Rating</dt> <dd>{{ movie.rating }}</dd>
						<dt>Year</dt> <dd>{{ movie.year }}</dd>
						<dt>More info</dt> <dd><a href="{{ movie.imdb_url }}">IMDB</a></dd>
					</dl>
				</div>
			</div>
			<div class="row">
				<div class="span7">
					{{ movie.description }}
				</div>
			</div>
		</div>
		<div class="span4 offset1">
			<div class="row">
				<h2>Showtimes</h2>
				Showtimes for today can go here?
			</div>
			<div class="row">
				<h2>More stuff</h2>
				More stuff can go over here!
			</div>
		</div>
	</div>

{% endblock content %}
